.env
appsettings.json
appsettings.Development.json
*.usersecrets

bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

.db_data/
docker-compose.override.yml

.DS_Store (Mac kullanıyorsan)
Thumbs.db (Windows görsel önbelleği)